RewriteEngine On

RewriteRule ^index index.php
RewriteRule ^about about.php
RewriteRule ^contact contact.php
RewriteRule ^delivery-and-shipping delivery_and_shipping.php
RewriteRule ^returns-and-exchanges returns_and_exchanges.php
RewriteRule ^privacy-policy privacy_policy.php
RewriteRule ^terms-and-conditions terms_and_conditions.php
RewriteRule ^customer-login customer_account.php
RewriteRule ^register-account register.php
RewriteRule ^admin-panel admin_panel.php
RewriteRule ^admin-login admin_login.php
RewriteRule ^cart cart.php
RewriteRule ^shop-all shop_all.php
RewriteRule ^checkout checkout.php
RewriteRule ^customer-care customer_care.php
RewriteRule ^my-account my_account.php

RewriteRule ^products/([0-9]+)/([0-9a-z-]+) product.php?index=$index&product_name=$product_name [NC,L]

